body, h1, h2, h3, h4, h5, h6, p, a{
  font-family: 'Quicksand', sans-serif!important;
}
mark{
  color: white;
  background-color: #e74c3c;
  border: none;
  border-radius: 10px;
  padding: 5px;
}
.mdl-layout__drawer-button {
  color: white;
}
li{
  padding:15px;
}
.span-xp:hover{
  text-decoration: underline;
  text-decoration-color: #e74c3c;
  border:none;
  border-radius: 10px;
}
.egg-link{
  border-bottom: 0.5px solid #e74c3c;
  border-radius: 30px;
  box-shadow: 0 10px 10px -6px #e74c3c;
}
.style-diagonal-bg1{
  background-color: #e74c3c;
  background: -webkit-linear-gradient(265deg, #e74c3c 50%, #34495e 50%)!important;
}
.style-diagonal-bg2{
  background-color: #3498db;
  background: -webkit-linear-gradient(-95deg, #3498db 80%, #34495e 50%)!important;
}
.style-child{
  display:table-cell;
  vertical-align: middle;
  text-align: center;
}
.style-parent{
  display:table;
  height: 100%;
  width: 100%;
}
.style-bg-red{
  background-color: #e74c3c!important;
}
.style-bg-grey{
  background-color: #34495e!important;
}
.style-arrow {
  text-align: center;
  margin: 5% 0;
  color: white;
}

.style-h3-text, .style-h4-text{
  color:white;
  text-align: center;
}
.style-h4-text{
  margin: 0;
}
.style-card-corners{
  border:none;
  border-radius:17px;
  padding:10px;
  margin-top:20px;
}
.style-button, .style-button-more{
  color: white;
  border: none;
  border-radius: 20px!important;
  padding: 15px;
  height: 40px;
  width: 100px;
  margin: 10px;
  outline: none;
}
.style-button{
  background-color: #2980b9;
}
.style-button:hover{
  background-color: white;
  color: #2980b9;
}
.style-button-more{
  background-color: #2ecc71!important;
}
.style-button-more:hover{
  background-color: white!important;
  color: #2ecc71!important;
}
@media (max-width: 600px){
  .style-h3-text{
    font-size: 20px!important;
  }
  .style-h4-text{
    font-size: 15px!important;
  }
}

.mdl-fab-bottom-right {
  position: fixed;
  bottom: 24px;
  right: 24px;
  transition: bottom .25s cubic-bezier(0,0,.2,1);
}

.style-bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
