html, body, h1, h2, h3, h4, h5, h6, p, a{
  font-family: 'Quicksand', sans-serif!important;
}
.mdl-layout__drawer-button{
  color:white!important;
}
.style-card{
  border:none;
  border-radius:17px;
  padding:20px;
  text-align:left;
}
.style-giardini{
  background-image: url('../img/giardini.jpg');
  background-size: cover;
}
.style-giardini:hover, .style-giardini:active, .style-giardini:focus{
  background-image: url('../img/giardini-color.jpg');
  transition: all .6s;
}
.style-giorgio-perlasca{
  background-image: url('../img/perlasca.jpg');
  background-size: cover;
}
.style-giorgio-perlasca:hover, .style-giorgio-perlasca:active, .style-giorgio-perlasca:focus{
  background-image: url('../img/perlasca-color.jpg');
  transition: all .6s;
}

.style-button-ripple{
  background-color: rgba(255, 255, 255, 0.3);
  color:white!important;
  border-radius:15px;
  width:70%;
}
.style-button-ripple:hover{
  background-color: rgba(255, 255, 255, 0.459);
  color:white!important;
  border-radius:15px;
}

/* TINGLE */
.tingle-modal-box {
  border-radius: 20px!important;
  text-align: left!important;
  width:90%;
}
.tingle-modal__close{
  outline: none!important;
}
@media (max-width : 540px) {
  .tingle-modal-box {
    margin: 20px!important;
  }
  .tingle-modal__close{
    background-color:#4caf50!important;
  }
}

::-moz-selection {
  color: white;
  background: #4caf50;
  border-radius: 15px!important;
  padding:5px;
}

::selection {
  color: white;
  background: #4caf50;
  border-radius: 15px!important;
}