*{
  font-family: 'ITC Avant Garde Gothic Std Book', sans-serif;
}
body{
  background-color: #000000;
}
.style-text-white {
  color: #ffffff;
  font-weight: 500;
  font-style: normal;
  line-height: 1.2992;
}
.style-home-text {
  line-height: 1.35;
}
.style-gradient-text {
  background-image: linear-gradient(to right, #ff6a00, #ee0979);
  color: #ff6a00;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.style-gradient-bg {
  background-image: linear-gradient(to right, #ee0979, #ff6a00);
}
.style-icon:hover{
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.Cursor{
  display: inline-block;
}

.arrow-animation {
  animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


/* font */

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Extra Light';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Extra Light'), url('./fonts/ITCAvantGardeStdXLt.woff') format('woff');
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Extra Light Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Extra Light Condensed'), url('./fonts/ITCAvantGardeStdXLtCn.woff') format('woff');
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Extra Light Condensed Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Extra Light Condensed Oblique'), url('./fonts/ITCAvantGardeStdXLtCnObl.woff') format('woff');
}
  
@font-face {
  font-family: 'ITC Avant Garde Gothic Std Extra Light Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Extra Light Oblique'), url('./fonts/ITCAvantGardeStdXLtObl.woff') format('woff');
}
  

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Book';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Book'), url('./fonts/ITCAvantGardeStdBk.woff') format('woff');
}
  

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Book Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Book Condensed'), url('./fonts/ITCAvantGardeStdBkCn.woff') format('woff');
}
  

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Book Condensed Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Book Condensed Oblique'), url('./fonts/ITCAvantGardeStdBkCnObl.woff') format('woff');
}
  

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Book Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Book Oblique'), url('./fonts/ITCAvantGardeStdBkObl.woff') format('woff');
}
  

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Medium';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Medium'), url('./fonts/ITCAvantGardeStdMd.woff') format('woff');
}
  

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Medium Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Medium Condensed'), url('./fonts/ITCAvantGardeStdMdCn.woff') format('woff');
}
  

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Medium Condensed Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Medium Condensed Oblique'), url('./fonts/ITCAvantGardeStdMdCnObl.woff') format('woff');
}
  

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Medium Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Medium Oblique'), url('./fonts/ITCAvantGardeStdMdObl.woff') format('woff');
}
  

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Demi';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Demi'), url('./fonts/ITCAvantGardeStdDemi.woff') format('woff');
}
  

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Demi Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Demi Condensed'), url('./fonts/ITCAvantGardeStdDemiCn.woff') format('woff');
}
  

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Demi Condensed Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Demi Condensed Oblique'), url('./fonts/ITCAvantGardeStdDemiCnObl.woff') format('woff');
}
  

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Demi Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Demi Oblique'), url('./fonts/ITCAvantGardeStdDemiObl.woff') format('woff');
}


@font-face {
  font-family: 'ITC Avant Garde Gothic Std Bold';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Bold'), url('./fonts/ITCAvantGardeStdBold.woff') format('woff');
}
  

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Bold Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Bold Condensed'), url('./fonts/ITCAvantGardeStdBoldCn.woff') format('woff');
}
  

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Bold Condensed Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Bold Condensed Oblique'), url('./fonts/ITCAvantGardeStdBoldCnObl.woff') format('woff');
}
  

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Bold Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Bold Oblique'), url('./fonts/ITCAvantGardeStdBoldObl.woff') format('woff');
}